

<h1 class="hero-title">A curated archive of public lectures</h1>

<p class="hero-subtitle">(archived October 2018). The Lecture List was a place to discover talks on science, arts, politics, and more from leading thinkers across the UK. It was live from 2003 to 2018</p>

<blockquote class="hero-description" style="padding: 0 3em 2em 3em;">

Billy Clark, the Editor of the service, left this message on the homepage:

Dear all,

With many mixed emotions, we are now officially closing The Lecture List

We've loved sharing information on talks and other events here over the past twenty(!) years

We're incredibly grateful to all our supporters, including everyone who has used the site, from early days through to now.

Huge thanks to all of you!

Do get in touch if you have any thoughts or questions. We'd be very happy to discuss the project if anybody is interested in developing something similar

Thank you!

</blockquote>


